[submodule "unity-sdk"]
	path = unity-sdk
	url = https://github.com/danielctc/spaces-unity-sdk.git
[submodule "react-bridge"]
	path = react-bridge
	url = https://github.com/danielctc/ReactSpacesMonoRepo.git
[submodule "website"]
	path = website
	url = https://github.com/danielctc/spaces-website.git
